* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

:root {
    --bg-background: linear-gradient(45deg, #011132,#009c86,#ffac22);                                             
}

#container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(grafico.jpg);
    background-position: center;
    background-size: cover;
    color: #d1d5db;
}

#calculator {
    background-color: rgb(255, 255, 255, 0.1);
    border: 2px solid #ffffff30;
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.323);
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#calculator h2 {
    font-size: 30px;
    position: relative;
}

#calculator h2::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 150px;
    background: var(--bg-background);
    bottom: 0;
}

#input_box {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input-field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-field label {
    font-size: 15px;
    font-weight: 500;
}

.input-field input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #d1d5db;
    color: #d1d5db;
    font-size: 20px;
    padding: 5px;
}

.input-field input:focus {
    outline: none;
}

#result {
    text-align: center;
}

#total {
    font-size: 40px;
}

#calculate {
    background: var(--bg-background);
    border: none;
    padding: 10px;
    color: #d1d5db;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

#calculate:hover {
    opacity: 0.8;
}